.header{
	width: 1903px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Roboto-Regular';
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: auto auto 200px;
}
@media screen and (max-width: 1920px) {
	.header{
		width: 1903px;
	}
}
@media screen and (max-width: 1903px) {
	.header{
		width: 100%;
	}
}