.team{
	background-color: #fff;
	padding: 120px 0;
	text-align: center;
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto auto;
	grid-template-areas: 
	"title title title title"
	"paragraph paragraph paragraph paragraph"
	"team-one team-two team-three team-four";
	grid-gap: 30px;
}
@media screen and (max-width: 1210px) {
	.team{
		grid-template-columns: auto auto;
        grid-template-areas:
        "title title"
        "paragraph paragraph"
        "team-one team-two"
        "team-three team-four";
    }
}
@media screen and (max-width: 800px) {
	.team{
    grid-template-columns: auto;
    grid-template-areas:
    "title"
	  "paragraph"
	  "team-one"
	  "team-two"
	  "team-three"
	  "team-four";
    }
}
